<h1>new article</h1>

<%= form_for :article, url: articles_path do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>


    <%= f.label :text %>
    <%= f.text_field :text %>

    <%= f.submit %>



<% end %>
